# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
server/.env

# Build output
dist/
build/

# Other files to ignore
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
